<html>
<link rel="stylesheet" href="/css/partials/header.css">
<header class="header">

    <ul>
        

        <li><a href="/">მთავარი</a></li>
        <li><a href="/villages">სოფლები</a></li>
        <li><a href="">ღირსშესანიშნაობები</a></li>
        <li><a href="">ძეგლები</a></li>

        <!-- <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ინფორმაცია</a>
            <div class="dropdown-content">
                <a href="#">უჯარმის შესახებ</a>
                <a href="#">უჯარმის ისტორია</a>
                <a href="#">საკონტაქტო ინფორმაცია</a>
                <a href="#">ღირსშესანიშნაობები</a>
            </div>
        </li> -->

    </ul>

</header>

</html>