.header ul {
    backdrop-filter: blur(40px);
    height: 70px;
    list-style-type: none;
    margin: -8px;
    padding: 0;
    display: flex;
    box-shadow: 0px 0px 10px gray;

}

.header li {
    float: left;
    transition: opacity 0.6s ease;
    border-right: 2px solid gray;
}

.header li:hover {
    box-shadow: 0px 0px 5px black;


}

.header ul:hover> :not(:hover) {
    opacity: 0.3;

}

.header li a {
    display: block;
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
    color: #252525;

}